<div class="container">

    <h1>{{user.name}}</h1>
    {{#if Preg}}
    {{#each Preg}}
    <form action="/user/examen/derecho88" method="POST">
        <div class="jumbotron">

            <h2>{{materia}}</h2>
            <h3>{{Pregunta}}</h3>

            <ul class="alternativas">
                <li> <label> <input type="checkbox" name="newradio1">{{Respuesta1}}</label> </li>
                <li> <label> <input type="checkbox" name="newradio2">{{Respuesta2}}</label> </li>
                <li> <label> <input type="checkbox" name="newradio3">{{Respuesta3}}</label> </li>
                <li> <label> <input type="checkbox" name="newradio4">{{Respuesta4}}</label> </li>
            </ul>
                                                
        
         <button class="btn btn-info" type="submit" name="responder" >
            Responder 
        </button>
        </div>
    </form>
        {{/each}}
        <a class="btn btn-info" type="submit" href="/menu/resultados">fin </a>
    {{else}}

    <H1>No tienes exámen aún</H1>
       {{/if}}
<p></p>
</div>