<div class="container">
  
  <div class="jumbotron mt-4 bg-light">
    <h1 class="display-6">Bienvenido {{user.name}}</h1>
     <h2 class="display-6">Carrera: {{user.carrera}}</h2>
  <br>
  
    {{#if calif}}
<div class="card-deck">
    <div class="card text-center" >
    <div class="card-body text-center">
      <p class="card-text ">Exámenes</p>
       <!-- Aqui va todo mai friend -->
       <ul class="list-group">
           <a href="#" class="btn btn-success btn-lg  disabled" tabindex="-1" role="button" aria-disabled="true">Resolver exámen</a>
          
        </ul>
    </div>
    </div>
  
  <div class="card text-center ">
    <div class="card-body text-center">
      <div class="card mx-auto border-dark mb-3">
        <div class="card-header"> Calificaciones </div>
       <!-- <ul class="list-group list-group-flush">-->     
         <table class="table table-sm">
           <thead>
             <tr>
             <th scope="col">Aciertos/ Total</th>
             <th scope="col">Promedio final</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               {{#each calif}}
                
               <th scoope="row">{{aciertos}}/{{preguntas_total}}</th>
               <td>{{prom}}</td>
              
                <td>{{calif.prom}}</td>
                {{/each}}
             </tr>
           </tbody>
         </table> 
         
      </div>
    </div>
  </div>
  {{else}}
  <div class="card-deck">
    <div class="card text-center" >
    <div class="card-body text-center">
      <p class="card-text">Exámenes</p>
       <!-- Aqui va todo mai friend -->
       <ul class="list-group">
            <a href="/user/alum/exam" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Resolver exámen</a>
       
        </ul>
    </div>
    </div>
    <div class="card text-center ">
    <div class="card-body text-center">
      <div class="card mx-auto border-dark mb-3">
        <div class="card-header"> Calificaciones </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Aún no hay calificaciones</li>

        </ul>
      </div>
    </div>
  </div>
  {{/if}}
  </div>
  </div>
  </div>
  </form>